{% extends '::base.html.twig' %}

{% block body -%}

    {% block nav %}{{ parent() }}{% endblock %}
    {% block header %}
        <header class="intro-header" style="background-image: url({{ asset('uploads/images/' ~ entity.path) }})">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="site-heading">
                            <h1>103 Room</h1>
                            <hr class="small">
                            <span class="subheading">Room 103 Website</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">


        <h1 class="section-heading">{{ entity.title }}</h1>
            <p>{{ entity.content }}</p>
        <hr>
        <ul class="record_actions">
            <li>
                <a href="{{ path('news') }}">
                    Back to the list
                </a>
            </li>
            {% if entity.published == 0 %}
            <li>

                <a href="{{ path('news_publish', { 'slug': entity.slug }) }}">
                    Publish
                </a>

            </li>
            {% endif %}
            <li>
                <a href="{{ path('news_edit', { 'slug': entity.slug }) }}">
                    Edit
                </a>
            </li>

            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>

    <hr>
    {% block footer %}{{ parent() }} {% endblock %}
    {% block javascript  %} {{ parent() }} {% endblock %}
{% endblock %}
